<%- include('header') -%>

<h2>This is about page.</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quibusdam vel inventore provident enim voluptatem! Molestias temporibus, quam ducimus, porro omnis quod delectus hic minima magnam distinctio repellendus soluta iure et error, maxime sint.</p>

<%- include('footer') -%>